<ion-header>
    <ion-toolbar color="primary">
        <ion-title class="tittleText">Log In</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding color="medium">
    <ion-card>
        <ion-list>

            <ion-item>
                <ion-label position="floating">
                    <ion-icon name="mail" float-right></ion-icon>&nbsp;email
                </ion-label>
                <ion-input clearInput type="text" [(ngModel)]="email"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating">
                    <ion-icon name="key" float-right></ion-icon>&nbsp;password
                </ion-label>
                <ion-input clearInput type="password" [(ngModel)]="password"></ion-input>
            </ion-item>

        </ion-list>
    </ion-card>

    <ion-button fill="solid" expand="block" color="dark" (click)="login()">Login!</ion-button>
    <ion-button fill="outline" (click)="onSignIn()">
        <ion-icon name="log-in"></ion-icon>Sign up!
    </ion-button>

</ion-content>